altgraph==0.17.2
black==22.1.0
click==8.0.4
colorama==0.4.4
future==0.18.2
mypy-extensions==0.4.3
pathspec==0.9.0
pefile==2021.9.3
platformdirs==2.5.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pypiwin32==223
pyserial==3.5
pywin32==303
pywin32-ctypes==0.2.0
tkinter-tooltip==1.3.0
tomli==2.0.1
typing_extensions==4.1.1